.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.page {
    cursor: pointer;
    margin-right: 2px;
}

.usersList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}

.userName {
    display: flex;
    width: 100px;
    overflow: hidden;
}

.loaderUsers {
    width: 48px;
    border: 5px solid #6ebeff;
    border-bottom-color: #337AB7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    height: 48px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.active {
    margin-right: 2px;
    cursor: pointer;
    font-weight: bold;
    color: aqua;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #6ebeff;
    border-bottom-color: #337AB7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.paginator {
    display: flex;
    justify-content: center;
    color: white;
}

.pagination li button {
    color: white
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}